In [ ]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 1.4 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [ ]:
import pandas as pd
import pymysql  # MySQL을 사용하는 경우, pymysql 라이브러리를 설치해야 합니다.

# 데이터베이스 연결 설정
connection = pymysql.connect(
    # user, password, host, database 정보 입력
)

# SQL 쿼리 실행
sql_query = "select cust_id,cust_nm,\
                    count( distinct sales_dt ) as 구매일수, \
                    max(sales_dt) as 최초구매일, \
                    min(sales_dt) as 최근구매일, \
                    datediff(MAX(STR_TO_DATE(sales_dt, '%Y%m%d')) , MIN(STR_TO_DATE(sales_dt, '%Y%m%d'))) AS 간격, \
                    (case when count( distinct sales_dt ) <=1 then 0 else  datediff(MAX(STR_TO_DATE(sales_dt, '%Y%m%d')) , MIN(STR_TO_DATE(sales_dt, '%Y%m%d')))  / count( distinct sales_dt ) end) as 사용구매주기 \
              from cust_sales \
            group by cust_id;"
df = pd.read_sql_query(sql_query, connection)

# 데이터프레임 출력 또는 활용
print(df)

# 연결 닫기
connection.close()

<ipython-input-2-d921e428c00d>:30: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, connection)

   cust_id cust_nm  구매일수     최초구매일     최근구매일   간격  사용구매주기
0     3806     최지후    49  20230630  20220707  358  7.3061
1     4211     김영미    55  20230621  20220705  351  6.3818
2     4285     박영숙    59  20230627  20220712  350  5.9322
3     4290     장중수    71  20230624  20220703  356  5.0141
4     4375     박준혁    60  20230629  20220710  354  5.9000
5     4480     이진우    51  20230618  20220706  347  6.8039
6     4803     김서준    40  20230627  20220715  347  8.6750
7     4833     김민준    64  20230630  20220710  355  5.5469
8     4897     박보람    42  20230629  20220713  351  8.3571
9     4989     장정희    56  20230627  20220702  360  6.4286
10    5331     이준혁    42  20230629  20220731  333  7.9286
11    5390     백종수    54  20230625  20220706  354  6.5556
12    5536     김미숙    52  20230621  20220711  345  6.6346
13    5633     김종수    64  20230625  20220723  337  5.2656
14    5838     오지혜    65  20230619  20220707  347  5.3385
15    6056     이보람    44  20230622  20220703  354  8.0455
16    6057     김하윤    52  20230614  20220724  325  6.2500
17    6225     박민지    66  20230630  20220705  360  5.4545
18    6258     황지후    49  20230621  20220713  343  7.0000
19    6887     박미정    54  20230630  20220706  359  6.6481
20    6927     백현우    63  20230629  20220710  354  5.6190
21    7445     홍숙자    57  20230619  20220710  344  6.0351
22    7481     김아름    62  20230623  20220709  349  5.6290
23    8735     이성호    40  20230623  20220716  342  8.5500
24    9111     박중수    57  20230630  20220708  357  6.2632
25    9392     안하은    67  20230629  20220708  356  5.3134
26    9539     김지훈    49  20230629  20220706  358  7.3061
27    9851     김수민    57  20230630  20220704  361  6.3333

In [ ]:
!pip list | grep pandas
!pip list | grep mysql-connector-python

geopandas                        0.13.2
pandas                           2.1.3
pandas-datareader                0.10.0
pandas-gbq                       0.17.9
pandas-stubs                     1.5.3.230304
sklearn-pandas                   2.2.0
mysql-connector-python           8.2.0

In [ ]:
!pip uninstall pandas
!!pip uninstall mysql-connector-python

Found existing installation: pandas 2.1.3
Uninstalling pandas-2.1.3:
  Would remove:
    /usr/local/lib/python3.10/dist-packages/pandas-2.1.3.dist-info/*
    /usr/local/lib/python3.10/dist-packages/pandas/*
Proceed (Y/n)? Y
  Successfully uninstalled pandas-2.1.3
Found existing installation: mysql-connector-python 8.2.0
Uninstalling mysql-connector-python-8.2.0:
  Would remove:
    /usr/local/lib/python3.10/dist-packages/_mysql_connector.cpython-310-x86_64-linux-gnu.so
    /usr/local/lib/python3.10/dist-packages/_mysqlxpb.cpython-310-x86_64-linux-gnu.so
    /usr/local/lib/python3.10/dist-packages/mysql/*
    /usr/local/lib/python3.10/dist-packages/mysql_connector_python-8.2.0.dist-info/*
    /usr/local/lib/python3.10/dist-packages/mysqlx/*
Proceed (Y/n)? Y
  Successfully uninstalled mysql-connector-python-8.2.0

In [ ]:
!pip install --upgrade pandas mysql-connector-python

Collecting pandas
  Using cached pandas-2.1.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
Collecting mysql-connector-python
  Using cached mysql_connector_python-8.2.0-cp310-cp310-manylinux_2_17_x86_64.whl (31.6 MB)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /usr/local/lib/python3.10/dist-packages (from mysql-connector-python) (4.21.12)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: mysql-connector-python, pandas
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
lida 0.0.10 requires fastapi, which is not installed.
lida 0.0.10 requires kaleido, which is not installed.
lida 0.0.10 requires python-multipart, which is not installed.
lida 0.0.10 requires uvicorn, which is not installed.
google-colab 1.0.0 requires pandas==1.5.3, but you have pandas 2.1.3 which is incompatible.
Successfully installed mysql-connector-python-8.2.0 pandas-2.1.3

In [ ]:
import os
os.kill(os.getpid(), 9)

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# MySQL 연결 정보 설정
db_config = {
    # user, password, host, database 정보 입력
}

# SQLAlchemy 연결 설정
engine = create_engine(f"mysql+mysqlconnector://{db_config['user']}:{db_config['password']}@{db_config['host']}/{db_config['database']}")


# SQL 쿼리 실행
sql_query = "select cust_id,cust_nm,\
                    count( distinct sales_dt ) as 구매일수, \
                    max(sales_dt) as 최초구매일, \
                    min(sales_dt) as 최근구매일, \
                    datediff(MAX(STR_TO_DATE(sales_dt, '%Y%m%d')) , MIN(STR_TO_DATE(sales_dt, '%Y%m%d'))) AS 간격, \
                    (case when count( distinct sales_dt ) <=1 then 0 else  datediff(MAX(STR_TO_DATE(sales_dt, '%Y%m%d')) , MIN(STR_TO_DATE(sales_dt, '%Y%m%d')))  / count( distinct sales_dt ) end) as 사용구매주기 \
              from cust_sales \
            group by cust_id;"
# df = pd.read_sql_query(sql_query, connection)

# pandas의 read_sql_query 함수 사용
df = pd.read_sql_query(sql_query, con=engine)

# 데이터프레임 출력 또는 활용
print(df)

# # 연결 닫기
# connection.close()

   cust_id cust_nm  구매일수     최초구매일     최근구매일   간격  사용구매주기
0     3806     최지후    49  20230630  20220707  358  7.3061
1     4211     김영미    55  20230621  20220705  351  6.3818
2     4285     박영숙    59  20230627  20220712  350  5.9322
3     4290     장중수    71  20230624  20220703  356  5.0141
4     4375     박준혁    60  20230629  20220710  354  5.9000
5     4480     이진우    51  20230618  20220706  347  6.8039
6     4803     김서준    40  20230627  20220715  347  8.6750
7     4833     김민준    64  20230630  20220710  355  5.5469
8     4897     박보람    42  20230629  20220713  351  8.3571
9     4989     장정희    56  20230627  20220702  360  6.4286
10    5331     이준혁    42  20230629  20220731  333  7.9286
11    5390     백종수    54  20230625  20220706  354  6.5556
12    5536     김미숙    52  20230621  20220711  345  6.6346
13    5633     김종수    64  20230625  20220723  337  5.2656
14    5838     오지혜    65  20230619  20220707  347  5.3385
15    6056     이보람    44  20230622  20220703  354  8.0455
16    6057     김하윤    52  20230614  20220724  325  6.2500
17    6225     박민지    66  20230630  20220705  360  5.4545
18    6258     황지후    49  20230621  20220713  343  7.0000
19    6887     박미정    54  20230630  20220706  359  6.6481
20    6927     백현우    63  20230629  20220710  354  5.6190
21    7445     홍숙자    57  20230619  20220710  344  6.0351
22    7481     김아름    62  20230623  20220709  349  5.6290
23    8735     이성호    40  20230623  20220716  342  8.5500
24    9111     박중수    57  20230630  20220708  357  6.2632
25    9392     안하은    67  20230629  20220708  356  5.3134
26    9539     김지훈    49  20230629  20220706  358  7.3061
27    9851     김수민    57  20230630  20220704  361  6.3333